{% extends "index.html" %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="gree">
    <h2 style="color: goldenrod;">ABOUT<span style="color: aliceblue;"> US </span></h2>
</div>
<div class="con">
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
    <p class="pas">The firm started as far back as 2004, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quaerat molestiae recusandae reprehenderit vitae, amet officia qui distinctio porro rerum cumque, incidunt magnam deleniti? Doloremque, eos ut? Aliquam, veniam incidunt!</p>
</div>

{% endblock body %}